<!DOCTYPE html>
<html>
  <head>
    <title>UCSD Parking Prototype // Home</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
  </head>
  <body>
    <div class="jumbotron align-center">
      <h1>UCSD Parking Prototype</h1>
      <p>By Antriksh, <i>Moez</i> and Oliver</p>
    </div>
    <div class="home-nav-row row align-center">
      <h1>Are you</h1>
      <div class="col-md-push-3 col-md-3 align-center home-big-nav-btn">
        <a href="/leaving">Leaving</a>
      </div>
      <div class="col-md-push-3 col-md-3 align-center home-big-nav-btn">
        <a href="/arriving">Arriving</a>
      </div>
    </div>
  </body>
</html>